[Unit]
Description={{ powerdns_auth_proxy_name }}
After=network.target

[Service]
PIDFile=/run/powerdns-auth-proxy/pid
User={{ powerdns_auth_proxy_user }}
Group={{ powerdns_auth_proxy_group }}
WorkingDirectory={{ powerdns_auth_proxy_version_path }}
ExecStart={{ powerdns_auth_proxy_systemd_service_exec_start }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
